.container {
    margin-top: 30px;
    border: 1px solid black;
    /* background-color: black; */
    width: 3200px;
    height: 300px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s;
  }
  .bg-active {
    visibility: visible;
    opacity: 1;
  }
  .container h4 {
    position: absolute;
    right: 300px;
  }
  .frk {
    width: 500px;
    height: 40px;
  }
  .ttt {
    width: 500px;
    height: 40px;
  }
  #rrr {
    margin-top: 20px;
    width: 500px;
  }
  #vvv {
    width: 100px;
    /* background-color: red; */
  }
  h1 {
    position: relative;
    left: 200px;
    bottom: 60px;
  }
  #www {
    position: relative;
    left: 250px;
    bottom: 40px;
  }